* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}
.preloader {
  background-color: #248145;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 6;
}
:root {
  --fs-xsm: 16px;
  --fs-2xsm: 20px;
  --fs-3xsm: 24px;
  --fs-sm: 36px;
}
.fs_xsm {
  font-size: var(--fs-xsm);
}
.fs_sm {
  font-size: var(--fs-sm);
}
/* font-family */
.ff_Calibri {
  font-family: "Calibri";
}
.ff_ComicGecko {
  font-family: "Comic Gecko" !important;
}
@font-face {
  font-family: "Comic Gecko";
  src: url("../src/assets/fonts/comic-gecko-pro/Comic\ Gecko\ Pro.ttf");
}
.text_white_70 {
  color: #b7d0c2;
}
.text_white_50 {
  color: #b7cfc1;
}
.text_white_80 {
  color: #d9d9d9;
}
.text_green_50 {
  color: #b3cdbe;
}
.text_greenLight {
  color: #bad4c6;
}
.text_greenLight_20 {
  color: #b6d2c3;
}
.text_dark {
  color: #4b4d4c;
}

/* background */
.navBg {
  background: #025928;
}
.bg_image {
  background-image: url("../src/assets/img/png/heroImage.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.sectionBackground {
  background: linear-gradient(
      162.43deg,
      #26a646 0.23%,
      #025928 22.1%,
      #025928 76.31%,
      #26a646 103.78%
    ),
    #025928;
  box-shadow: 0px 20px 80px rgba(16, 18, 17, 0.01);
  border-radius: 8px;
  padding: 20px;
  max-width: 584px !important;
}
.sectionSecond {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(18.5px);
  padding: 28px 44px;
  border-radius: 8px;
}
.commentSectionBg {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(18.5px);
  max-width: 908px;
  margin: 0 auto;
}
.platteBackground {
  background: linear-gradient(
      158.49deg,
      #26a646 0.17%,
      #025928 20.08%,
      #025928 69.42%,
      #26a646 98.08%
    ),
    #025928;
  border-radius: 8px;
}
.sectionBorder {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(18.5px);
  border-radius: 8px;
}
/* ****** */
.sectionThird {
  background-image: url("../src/assets/img/png/bgImage.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.bgImage {
  background-image: url("../src/assets/img/png/bgImage2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* navbar */
.navLinks {
  padding: 31px 10px 18px 10px;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  transition: 0.5s ease-in-out;
}
.menuitems {
  height: 2px;
  width: 20px;
  background-color: white;
}
.signBtn {
  border: 2px solid #26a646;
  border-radius: 30px;
  background-color: transparent;
  transition: 0.5s ease-in-out;
  padding: 8px 28px;
  letter-spacing: 0.03em;
}
.logBtn {
  background: #26a646;
  border-radius: 30px;
  border: 0;
  letter-spacing: 0.03em;
  transition: 0.5s ease-in-out;
  padding: 10px 28px;
}
/* hover */
.logBtn:hover {
  color: #26a646 !important;
  background-color: white;
}
.signBtn:hover {
  color: #26a646 !important;
  background-color: white;
  border-color: white;
}
.signBtn:hover path {
  fill: #26a646;
  stroke: #26a646;
}
.navLinks:hover {
  background-color: #0f6133 !important;
  border-color: #26a646;
}
.circle:hover .hoverText {
  color: #26a646 !important;
}
.circle:hover {
  background-color: white;
}
.circle2:hover path {
  fill: #26a646 !important;
  stroke: #26a646;
}
.circle2:hover .hoverText {
  color: #26a646 !important;
}
.circle2:hover {
  background-color: white;
}

/* dropdown */
.btn-primary {
  background: #0f6133 !important;
  color: #cfdfd6 !important;
  padding: 0 !important;
  height: 62px !important;
  width: 221px !important;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.02) !important;
  backdrop-filter: blur(18.5px) !important;
  border-radius: 8px !important;
}
.dropdown-toggle::after {
  content: url("../src/assets/img/png/downarrow.png") !important;
  display: inline-block;
  margin-left: 54px !important;
  border-top: unset !important;
  border-right: unset !important;
  border-bottom: unset !important;
  border-left: unset !important;
}
.dropdown-item {
  color: #cfdfd6 !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #025928 !important;
  background-color: white !important;
}
.dropdown-menu {
  background-color: #025928 !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 8px !important;
}
/* other */
.select_box {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(18.5px);
  border-radius: 8px;
}
select {
  -webkit-appearance: none;
}
select.arrow {
  background-image: url("/src/assets/img/svg/downArrow.svg") !important;
  background-position: calc(100% - 15px) 18px, calc(100% - 20px) 1em, 100% 0;
  background-repeat: no-repeat;
  outline: 0;
}
.imageBorder {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(18.5px);
  border-radius: 8px;
}
.mw_640 {
  max-width: 640px;
}
.h_315 {
  height: 315px;
}
.w_25 {
  width: 25%;
}
.w_50 {
  width: 50%;
}
.w_75 {
  width: 75%;
}

.inputModify {
  padding: 16px 40px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(18.5px);
  border-radius: 8px;
  outline: none;
}
::placeholder {
  color: #bad4c6;
}
.threeImageBox {
  max-width: 270px;
  margin-right: auto;
  margin-left: auto;
  background: linear-gradient(
      158.49deg,
      #26a646 0.17%,
      #025928 20.08%,
      #025928 69.42%,
      #26a646 98.08%
    ),
    rgba(0, 0, 0, 0.05);
  border: 0.866019px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3.46408px 13.8563px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16.0214px);
  border-radius: 6.92815px;
}
path {
  transition: 0.4s ease-in-out !important;
}
.imgScale1 {
  scale: 1.2;
}
.imgScale0 {
  scale: 1;
}
.hoverText {
  transition: 0.4s ease-in-out;
}
.z_3 {
  z-index: 3;
}
.curser {
  cursor: pointer;
}
.mw_134 {
  max-width: 334px;
  width: 100%;
}
.mw_108 {
  max-width: 108px;
  width: 100%;
}
.vh_xl_100 {
  height: 100vh;
}
.circle {
  border: 2px solid #ffffff;
  border-radius: 139.775px;
  height: 89px;
  width: 89px;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle2 {
  border: 2px solid #b8b8b8;
  border-radius: 139.775px;
  height: 89px;
  width: 89px;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* position */
.end_20 {
  right: 20%;
}
.top_55 {
  top: 55%;
}
.image1 {
  bottom: 3%;
  width: 15%;
  left: 23%;
  z-index: -1;
}
.image2 {
  top: 5%;
  left: 0;
  z-index: -1;
  width: 15%;
}
.image3 {
  bottom: 11%;
  right: 0;
  width: 15%;
  z-index: -1;
}
.image4 {
  top: 5%;
  width: 15%;
  right: 22%;
  z-index: -1;
  rotate: -40deg;
}
.image5 {
  bottom: -15%;
  width: 15%;
  left: 0;
  z-index: -1;
  rotate: 20deg;
}
.image6 {
  top: -10%;
  width: 8%;
  right: 0;
  z-index: -1;
}
.image7 {
  bottom: 0%;
  width: 7%;
  right: 0;
  z-index: -1;
}
.image8 {
  bottom: 15%;
  width: 7%;
  left: 0;
  rotate: 180deg;
  z-index: -1;
}
.image9 {
  bottom: 10%;
  width: 7%;
  left: -3%;
  rotate: 70deg;
  z-index: -1;
}
.image10 {
  top: 12%;
  width: 7%;
  right: -3%;
  rotate: 180deg;
  z-index: -1;
}
.positionBox {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(18.5px);
  height: 340px;
  width: 390px;
  left: 7%;
  top: -4%;
  z-index: -1;
  transform: translateX(-21%);
  border-radius: 0px 8px 8px 0px;
}
.blackDots::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #4b4d4c;
  border-radius: 50%;
  position: absolute;
  left: -3%;
  top: 50%;
  transform: translateY(-50%);
}
/* animation  */
.animationScale {
  animation: scale 5s linear infinite;
}
@keyframes scale {
  50% {
    transform: scale(0.9);
  }
}
/* media screen */
@media (max-width: 1400px) {
  .positionBox {
    height: 350px;
    width: 380px;
  }
}
@media (max-width: 1200px) {
  .vh_xl_100 {
    height: unset;
  }
  .bg_image {
    background-size: cover;
  }
  .positionBox {
    height: 365px;
    width: 320px;
  }
  .sectionThird {
    background: #00622b;
  }
  .bgImage {
    background: #00622b;
  }
  .btn-primary {
    height: 62px !important;
    width: 215px !important;
  }
}

@media (max-width: 992px) {
  .closeNav {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: #025928;
    display: flex;
    z-index: 8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
  }
  .openNav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: #025928;
    display: flex;
    z-index: 8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
  }
  :root {
    --fs-xsm: 15px;
    --fs-2xsm: 18px;
    --fs-3xsm: 22px;
    --fs-sm: 28px;
  }
  .ratingBackground {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18.5px);
    border-radius: 0px 8px 8px 0px;
  }
  .positionBox {
    display: none;
  }
}
@media (max-width: 768px) {
  :root {
    --fs-xsm: 14px;
    --fs-2xsm: 15px;
    --fs-3xsm: 19px;
    --fs-sm: 22px;
  }
}
@media (max-width: 576px) {
  .sectionSecond {
    padding: 0;
  }
  .w_xsm_50 {
    width: 50px;
  }
  .signBtn {
    padding: 7px 19px;
  }
  .logBtn {
    padding: 8px 12.5px;
  }
  .w_xsm_100 {
    width: 100% !important;
  }
  .h_315 {
    height: 165px;
  }
}
